<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Start page</title>
</head>
<body>
<div class="navbar-light">
    <div class="container">
        <a href="#" class="logo logo--dark">
            <div class="logo-img logo-img--dark">
            <span>
              <img src="/static/img/logo-dark.png" alt="">
            </span>
            </div>
            <div class="logo-text">
                <p class="logo-text-abbr">IBA</p>
                <p class="logo-text-company-name">Tech Academy</p>
            </div>
        </a>
    </div>
</div>
<main class="start-content">
    <div class="container">
        <div class="start-content-row">
            <div class="start-content-welcome-img-b">
                <img src="/static/img/start-page-promo.png" class="start-content-welcome-img" alt="#">
            </div>
            <div class="start-content-welcome-text-b">
                <h1 class="welcome-title">Welcome back!</h1>
                <p class="welcome-text">To keep connected with us please login with personal information by email
                    address and password</p>
                <div>
                    <p th:if="${ex != null}" th:text="${ex.message}" class="global-error"></p>
                </div>
                <form class="login-form" id="login-form" th:object="${loginFormDto}" th:action="@{login}"
                      method="post">
                    <div class="text-input-container">
                <span class="text-input-icon">
                  <span>
                    <img src="/static/img/icons/email.png" alt="">
                  </span>
                </span>
                        <input type="email" class="form-control" th:field="*{emailAddress}" placeholder="Email address"
                               value="" required>
                        <div th:if="${#fields.hasErrors('emailAddress')}" th:errorclass="error"
                             th:errors="*{emailAddress}"
                             class="invalid-feedback"></div>
                    </div>
                    <div class="text-input-container">
                <span class="text-input-icon">
                  <span>
                    <img src="/static/img/icons/password.png" alt="">
                  </span>
                </span>
                        <input type="password" class="form-control" th:field="*{password}" placeholder="Password"
                               value="" required>
                        <div th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"
                             class="invalid-feedback"></div>
                    </div>
                    <div class="login-options">
                        <div class="checkbox-container">
                            <input type="checkbox" class="checkbox-input"
                                   th:checked="*{rememberMe}"
                                   name="rememberMe" id="rememberMe"
                                   th:value="true">
                            <label class="checkbox-overlay" for="rememberMe">Remember me</label>
                            <div th:if="${#fields.hasErrors('rememberMe')}" th:errorclass="error"
                                 th:errors="*{rememberMe}"
                                 class="invalid-feedback"></div>
                            <span class="login-section-container-options-checkmark"></span>
                        </div>
                        <a href="reset-password.html" class="form-link">Forgot password?</a>
                    </div>
                    <div class="button-container">
                        <input type="submit" class="btn btn-dark" placeholder="Login Now">
                        <a href="/sign-up" class="btn btn-light">Create account</a>
                    </div>
                </form>
                <div class="login-social-links">
                    <div class="social-links-caption">
                        <span class="social-links-caption-text">Or you can Join with</span>
                    </div>
                    <div class="social-links-list">
                        <i class="social-link social-link-google-plus"></i>
                        <i class="social-link social-link-facebook"></i>
                        <i class="social-link social-link-linkedin"></i>
                        <i class="social-link social-link-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>